@import 'tailwindcss';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-sen: var(--font-sen);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Ẩn scrollbar trên Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ẩn scrollbar trên Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.slick-slide{
  display: flex !important;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.text-16-26-400{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.text-18-28-400{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #5B5F62;
}

.text-18-18-500{
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #2D3134;
}

.text-14-34-400{
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  color: #676A6C;
  display: block;
}

.text-84-86-700{
  font-size: 84px;
  line-height: 86px;
  font-weight: 700;
  color: #2D3134;
}

.text-12-12-400{
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #9498A4;
}

.text-20-20-600{
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 5px;
  font-weight: 600;
  color: #F66F4D;
}